.DS_Store
*.resources
*.suo
*.user
*.sln.docstates
*.userprefs
/*.nupkg
[Bb]in/
[Bb]uild/
[Oo]bj/
[Oo]bj/
packages/*/
artifacts/
# Roslyn cache directories
*.ide/
*.lock.json
.vs
*InternalTrace*.log
**/TestResults
edb-rebrand-c/x64
*/x64
**/edb_nuget_packages
**/latex/**/*.synctex.gz
**/latex/**/*.aux
**/latex/**/*.fdb_latexmk
**/latex/**/*.fls
**/latex/**/*.log
**/latex/**/*.pdf
