.DS_Store
*.resources
*.suo
*.user
*.sln.docstates
*.userprefs
/*.nupkg
[Bb]in/
[Bb]uild/
[Oo]bj/
[Oo]bj/
packages/*/
artifacts/
# Roslyn cache directories
*.ide/
*.lock.json
.vs
*InternalTrace*.log
**/TestResults
edb-rebrand-c/x64
*/x64
**/edb_dotnet_nugetpackages
**/latex/**/*.synctex.gz
**/latex/**/*.aux
**/latex/**/*.fdb_latexmk
**/latex/**/*.fls
**/latex/**/*.log
**/latex/**/*.pdf
edb-benchmarks/**/results
edb-benchmarks/**/*.log
edb-benchmarks/Benchmarks/**report.csv
edb-benchmarks/*report.csv
edb-benchmarks/**/*.xlsx
edb-benchmarks/Benchmarks/packages
