<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="BaGetter" value="http://localhost:5001/v3/index.json" allowInsecureConnections="true"/>
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

</configuration>
