<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
            <!-- Our npgsql-vnext feed doesn't necessarily contain the last preview (package retention rules...), so we take it from nuget.org -->
            <package pattern="EnterpriseDB.EDBClient" />
            <package pattern="EnterpriseDB.EDBClient.*" />
        </packageSource>
        <packageSource key="dotnet10">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

</configuration>
