<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<add key="connectionString" value="Server=127.0.0.1;Port=5444;User Id=edb;Password=edb;Database=edb;"/>
	
	<add key="ADOConnectionString" value="Provider=MSDASQL.1;Persist Security Inf o=False;Data Source=EnterpriseDB"/>
	<add key="ADOUser" value="edb"/>
	<add key="ADOPassword" value="edb"/>
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
