<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

\begin{leftwordgroup}{CommandComplete}
        \bitbox{1}[bgcolor=lightcyan]{C} &
        \bitbox{4}[bgcolor=lightgreen]{length: <#= this.Length #>} &
        \bitbox{27}{<#= this.Tag #>} 
    \end{leftwordgroup}